*.iml
.gradle
/local.properties
/.idea
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.apk
*.ap_
*.dex
*.class
*.log
.kotlin/

# iOS / Xcode
ios/Jarvis.xcodeproj/
ios/Jarvis.xcworkspace/
ios/build/
ios/DerivedData/
ios/*.ipa
xcuserdata/
*.xcuserstate
